:root {
  --w-clor: #ffffff;
  --bg-clor1: #f5f4fa;
  --bg-clor2: #2f303a;
  --accent-clor: #2196f3;
  --title-clor: #212121;
  --txt-clor: #757575;
  --b-clor: #000000;
  --grey: #afb1b8;
  --hovr-clor: rgba(33, 150, 243, 0.9);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-clor3: rgba(0, 0, 0, 0.2);
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  outline: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-clor);
}

.title {
  margin-bottom: 50px;
  color: var(--title-clor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: letter-spacing 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header__logo--black {
  color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.nav__item {
  position: relative;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail, .contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 30px;
  color: #757575;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.contacts__tel {
  margin-right: 0;
}

.contacts__mail:hover, .contacts__tel:hover, .contacts__mail:focus, .contacts__tel:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.contacts__mail:hover .contacts__icon,
.contacts__tel:hover .contacts__icon,
.contacts__mail:focus .contacts__icon,
.contacts__tel:focus .contacts__icon {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */